* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.sam {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbox {
    background-color: #d9d9d9;
    border-radius: 40px;
    padding: 20px;
    height: 95%;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.codebox {
    background-color: #d9d9d9;
    border-radius: 11px;
    margin-bottom: 40px;
    width: 25%;
    height: 5%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.chat {
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
    padding-bottom: 20px;
}

.messages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #d9d9d9;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: black;
    margin-left: 25%;
    background: #f2f2f2;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -7px;
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #d9d9d9;
    border-bottom-left-radius: 10px;
}

.txtinput {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#sendbtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
}

.send{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    display: none;
}

.close {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    display: none;
}

#send {
    display: flex;
}

#sendbtn.open .close {
    display: flex;
}

#sendbtn.open #send {
    display: none;
}

@keyframes closeanimation {
    0% {
        transform: rotateZ(0);
        opacity: 0;
    }
    100% {
        transform: rotateZ(180deg);
        opacity: 1;
    }

}

@keyframes sendanimation {
    0% {
        transform: rotateZ(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotateZ(0deg);
        opacity: 1;
    }

}
@keyframes pullUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    20%{
        transform: translateY(5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pullDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    20% {
        transform: translateY(5%);
        opacity: 0.2;
      }
    100% {
        transform: translateY(20%);
        opacity: 0;
    }
}

#input {
    margin-left: 5px;
    margin-right: 10px;
    width: 95%;
    height: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.sharebtn {
    background-color: transparent; /* Make the background color transparent */
    border: none; /* Remove any border */
    cursor: pointer; /* Change cursor to pointer for better UX */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox to center the image */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.sendopts{
    height: 100ch;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#copyButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #45a049;
}