*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", sans-serif;
}

.sam{
    position: absolute;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.chatbox{
    background-color: #d9d9d9;
    border-radius: 40px;
    margin: 10px;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.codebox{
    background-color: #d9d9d9;
    border-radius: 11px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sharebtn{
    background-color: transparent;    
    border: none;
    display: flex; 
    align-items: center;
}

.textinput{
    position: absolute;
    bottom: 0;
    left: 50%; 
}

.send{
    border-radius: 100%;
}