/*Selecting HTML for changing font {-- black-cat-hacker}*/
*{
  font-family: "roboto mono", sans-serif;
}

/* Logo Part */
.logo-container p{
  font-family: "roboto mono";
  font-size: 200px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* Ensure transform is applied correctly */
  transform: scale(0.5); /* Set the initial scale of the element to 0.5 */
  height:auto;
  
}

.navbar-brand p{
  font-family: "roboto mono";
  font-weight: 800;
  font-style: normal;
  margin-left:0.5rem;
  margin-top:0.5rem;
}


.logo-container {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
.js-typing-cursor {
  position: relative;

}



.hide{
  display: none;
}

@keyframes showAnimation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


@keyframes hideAnimation {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
  }
  100%{
    display: none; /* Ensure the element is hidden after the animation */
  }
}

.show-animation {
  animation: showAnimation 1s forwards;
}

.hide-animation{
  animation:hideAnimation 1s forwards;
}

#animate-cursor,#js-typing{
  &:after {
    position: relative;
    content: '_';
    right: 0;
    animation: blink 500ms infinite;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.move-to-top-left {
  position: absolute;
  top:0;
  left: 0;
  transform:scale(0.5);
  transition: all 0.5s ease; /* Smooth transition */
  
}

