/*Selecting HTML for changing font {-- black-cat-hacker}*/
*{
  font-family: sans-serif;
}

/* Logo Part */
.logo-container p{
  font-family: sans-serif;
  font-size: 200px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* Ensure transform is applied correctly */
  transform: scale(0.5); /* Set the initial scale of the element to 0.5 */
}

.navbar-brand p{
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* Ensure transform is applied correctly */
  transform: scale(0.5); /* Set the initial scale of the element to 0.5 */
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.js-typing-cursor {
  position: relative;

}



.hide{
  display: none;
}

@keyframes showAnimation {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

.show-animation {
  animation: showAnimation 1s forwards;
}

#js-typing{
  &:after {
    position: relative;
    content: '_';
    right: 0;
    animation: blink 500ms infinite;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.move-to-top-left {
  position: absolute;
  top:0;
  left: 0;
  transform:scale(0.5);
  transition: all 0.5s ease; /* Smooth transition */
  
}

